h1 {
    color: #333;
    padding: 20px;
}

form {
    padding: 20px;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

span {
    color: red;
    font-size: 14px;
    display: block;
}

.incorrect {
    color: red;
    margin-left: 20px;
}

.correct {
    color: green;
    margin-left: 20px;
}

button {
    margin-left: 20px;
}